.content,
.content__items {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
}
.content__header {
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #3e3e3e;
}

.content__header-title {
    position: absolute;
    bottom: -13px;
    padding: 3px;
    background-color: #fff;
}
.content__items {
    width: 100%;
    margin-top: 42px;
    margin-bottom: 42px;
    border-bottom: 1px solid #3e3e3e;
}

.content__items_titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}
.content__items_title,
.content__items_title-description,
.content__items_title-quantity,
.content__items_title-price,
.content__items_title-delete {
    flex: 1;
}
.content__items_title-description {
    flex: 2;
}

.content__items_title-quantity,
.content__items_title-price,
.content__items_card-quantity,
.content__items_card-price {
    display: flex;
    justify-content: center;
}

.content__items_title-delete,
.content__items_card-delete {
    display: flex;
    justify-content: flex-end;
}
.content__items_card {
    height: 180px;
    width: 100%;
    /*border: 1px solid #ccc;*/
    display: flex;
}

.content__items_card-image,
.content__items_card-description,
.content__items_card-quantity,
.content__items_card-price,
.content__items_card-delete {
    height: 100%;
    flex: 1;
}

.content__items_card-description {
    flex: 2;
}

.content_card-title,
.content_card-code {
    margin-bottom: 15px;
}

.content_card-code {
    font-size: 15px;
    color: #3f3f3f;
}

.content__card-change-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 50px;
    font-size: 18px;
}

.content__card-quantity-plus,
.content__card-quantity-minus,
.content__items_card-delete{
    width: 20px;
    height: 20px;
    cursor: pointer;
 }

.content__card-quantity-minus {
    margin-right: -14px;
}

.content__promocode {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}


.content__input-promocode,
.content__apply-promocode,
.content__titles-promocode,
.content__total-amount {
    flex: 1;
}


.content__apply-promocode {
    flex: 2;
}

.content__total-amount,
.content__titles-promocode {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.content__button_apply-promocode,
.content__button_make-order {
    width: 178px;
    height: 45px;
    border-radius: 23px;
    border: none;
    color: #fff;
    background-color: #b7b7b7;
}

.content__invisible-promocode {
    visibility: hidden;
}
.content__visible-promocode {
    color: #ff6c00;
    visibility: visible;
}

.content__button_make-order {
    background-color: #ff6c00;
    color: #fff;
}
