.header,
.header__links,
.header__main,
.header__category,
.header__tabs {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
}

.header__links_content,
.header__main_content,
.header__category_content,
.header__tabs_content {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.header {
    box-sizing: border-box;
    font-size: 15px;
}

.header__links {
    height: 50px;
    background-color: #e4e4e4;
}


.header__links_content {
    align-items: center;
    justify-content: space-between;
}

.header__main_content {
    justify-content: space-between;
}

.header__main_left,
.header__main_right {
    display: flex;
}

.header__main_left {
    justify-content: flex-start;
}

.header__main_shop24,
.header__main_account {
    padding-right: 30px;
}

.header__main_right {
    justify-content: flex-end;
}
.header__main_searching {
    border: none;
    border-bottom: 1px solid;
}


.header__main {
    height: 86px;
    background-color: #fff;
}

.header__category {
    height: 52px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #a2a2a2;
    border-top: 1px solid #a2a2a2;
}

.header__category_clothes,
.header__category_shoes,
.header__category_ornamentation,
.header__category_beauty,
.header__category_household,
.header__category_kitchen {
    margin-right: 15px;
}

.header__category_clothes {}
.header__category_shoes {}
.header__category_ornamentation {}
.header__category_beauty {}
.header__category_household {}
.header__category_kitchen {}

.choosen__tab {
    border-bottom: 1px solid red;
}

.header__tabs {
    height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #a2a2a2;
}

.header__tabs_woman,
.header__tabs_man {
    margin-right: 15px;
}

.header__links_phone,
.header__links_stars,
.header__links_youtube,
.header__links_live {
}

.header__links_phone {
    flex: 1;
}
.header__links_stars {
    padding-right: 12px;
}

.header__links_youtube {
    padding-right: 12px;
}

.header__links_live {

}
