@import url('https://fonts.googleapis.com/css?family=Roboto');

.header,
.header__links,
.header__main,
.header__category,
.header__tabs {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
}

.header__links_content,
.header__main_content,
.header__category_content,
.header__tabs_content {
    width: 1185px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.header {
    box-sizing: border-box;
    font-size: 15px;
}

.header__links {
    height: 50px;
    background-color: #e4e4e4;
}


.header__links_content {
    align-items: center;
    justify-content: space-between;
}

.header__main_content {
    justify-content: space-between;
}

.header__main_left,
.header__main_right,
.header__main_account,
.header__main_trash {
    display: flex;
    align-items: center;
}

.header__main_account,
.header__main_trash {
    justify-content: space-around;
    width: 180px;
    box-sizing: border-box;
}

.header__main_trash {
    width: 110px;
}

.header__main_shop24,
.header__main_account {
    padding-right: 70px;
}

.header__main_searching_cover {
    display: flex;
    width: 226px;
    font-size: 14px;
    border-bottom: 1px solid;
    height: 20px;
}

.header__main_searching {
    width: 100%;
    border: none;
}


.header__main {
    height: 86px;
    background-color: #fff;
}

.header__category {
    height: 52px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

.header__category_clothes,
.header__category_shoes,
.header__category_ornamentation,
.header__category_beauty,
.header__category_household,
.header__category_kitchen,
.header__tabs_woman,
.header__tabs_man,
.header__tabs_ornamentation {
    margin-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.choosen__tab {
    border-bottom: 3px solid #ff6c00;
}

.header__tabs {
    height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.header__links_phone,
.header__links_stars,
.header__links_youtube,
.header__links_live {
    display: flex;
    align-items: center;
}

.header__links_phone {
    flex: 1;
}

.header__links_stars,
.header__links_youtube {
    padding-right: 12px;
}
